@model CAAP2.Models.ViewModels.RegisterViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Registro de Usuario";
}

<h2 class="my-3">Registro de Usuario</h2>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<form asp-action="Register" asp-controller="Account" method="post" autocomplete="off">
    @Html.AntiForgeryToken()

    <div class="form-group mb-3">
        <label asp-for="FullName" class="form-label">Ingrese su nombre</label>
        <input asp-for="FullName" class="form-control" name="FullName" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Email" class="form-label">Ingrese su correo</label>
        <input asp-for="Email" class="form-control" name="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <input asp-for="IsPremium" class="form-check-input" type="checkbox" />
        <label asp-for="IsPremium" class="form-check-label">¿Usuario Premium?</label>
        <input type="hidden" name="IsPremium" value="false" />
    </div>

    <div class="form-group form-check">
        <input asp-for="IsUser" class="form-check-input" type="checkbox" />
        <label asp-for="IsUser" class="form-check-label">¿Usuario regular?</label>
        <input type="hidden" name="IsUser" value="false" />
    </div>


    <button type="submit" class="btn btn-success">Registrarse</button>
    <a href="/Account/Login" class="btn btn-link">Volver al Login</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
